body {
	background: black;
	color: white;
	font-size: 25px;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
form {
	text-align: center;
}
select {
	font-size: 20px;
}
button, input {
	font-size: 20px;
}
table {
	width: 50%;
	margin: 2% auto;
	border: 2px solid white;
	text-align: center;
	padding: 10px;
}

td {
	padding-bottom: 15px; 
}
iframe{
	width: 100%;
	height: 700px;
}